<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qingyuan.redtour.mapper.ClockinMapper">

    <select id="getClockinByPracticeId" resultType="com.qingyuan.redtour.pojo.Clockin">
        select clockin_id,practice_id,date,practice_name,location,teammate,practice_intro
        from redtour.clockin
        where practice_id = #{practiceId,jdbcType=INTEGER}
    </select>

    <select id="getClockinByClockinId" resultType="com.qingyuan.redtour.pojo.Clockin">
        select clockin_id,practice_id,date,practice_name,location,teammate,practice_intro
        from redtour.clockin
        where clockin_id = #{clockinId,jdbcType=INTEGER} limit 1
    </select>

    <select id="getClockinPictureByClockinId" resultType="java.lang.String">
        select picture_url
        from redtour.clockin_picture
        where clockin_id = #{clockinId,jdbcType=INTEGER}
    </select>

</mapper>
